body{
  margin:0;
  font-family: Arial;
  background:#f1f1f1;
}
header{
  background:#111;
  padding:20px;
  color:white;
  display:flex;
  justify-content:space-between;
}
.admin-btn{
  color:white;
  text-decoration:none;
  background:#333;
  padding:10px 15px;
  border-radius:8px;
}
.produtos-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(250px,1fr));
  gap:20px;
  padding:20px;
}
.card{
  background:white;
  padding:15px;
  border-radius:12px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
.card img{
  width:100%;
  border-radius:10px;
}
.card button{
  width:100%;
  padding:10px;
  border:none;
  background:#28a745;
  color:white;
  margin-top:10px;
  border-radius:8px;
}